@import url(resset.css);


[class*="__container"] {
	margin: 0 auto;
	max-width:  1270px;
	padding: 0 15px;
}


.slider-rooms__image img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: inline-block;

}



/*------------------------------------*/

.rooms {
	background: #fcf8f3;
	padding: 44px 0;
}


@media (min-width:991px) {
	.rooms__container{
		display: flex;
	}
	
}
.rooms__body {
	flex: 0 0 37%;
	position: relative;
	z-index: 5;
	align-self: center;
	padding-right: 80px;
}

@media (max-width:1200px){
	.rooms__body{
		padding-right: 30px;
	}
}


@media (max-width:991.98px){
	.rooms__body{
		text-align: center;
		margin-bottom: 30px;
		padding: 30px 0;
	}
}


.rooms__title {
	display: inline-block;
	font-weight: 700;
	line-height: 1.3;
	font-size: 25px;
	text-align: left;
}
@media (max-width:420px){
	.rooms__title {
		font-size: 20px;
	}
}


.rooms__title:not(:last-child){
	margin: 0 0 10px 0;
}


.rooms__text {
	line-height: 150%;
	font-weight: 500;
}


.rooms__text:not(:last-child){
	margin: 0 0 24px 0;
}
.rooms__button {
	background-color: orange;
	color: #fff;
	min-width: 180px;
	display: inline-block;
	text-align: center;
	padding: 10px;
	transition: all 300ms;
}





@media(any-hover:hover){
	.rooms__button:hover{
		background-color: rgb(174, 119, 15);
	}
}

.rooms__slider {
	flex:  1 1 auto;
	min-width: 0;
	align-self: flex-start;
	max-height: 585px;
	min-height: 400px;
	position: relative;
}


.slider-rooms__body {
	position: relative;

}
.slider-rooms__body::before{
	content: '';
	position: absolute;
	top: 0; 
	left: 0;
	width:100vh;
	height: 100%;
	background: #fcf8f3;
	z-index: 2;
	transform: translate(-100%, 0);

}
.swiper-container {
position: relative;

}


.swiper-slide{
	max-width: 372px;
	position: relative;
	overflow: hidden;
	min-height: 585px;
	
}
@media (max-width:768px){
	.swiper-slide{
		max-width: 100%;
	
	}
}



@media (min-width:768px){
	.slider-rooms__image  img{
		height: 83%;
		transition: all 0.8s ease;
	}
}




.swiper-slide-active img{
	height: 100%;
}


.swiper-slide-active {
	height: 100%;
}




.slider-rooms__content {
	position: absolute;
	color: inherit;
	max-width: 240px;
	padding: 32px;
	left: 24px;
	bottom: 24px;
	background-color: rgba(255, 255, 255, 0.72);
	opacity: 0;
	visibility: hidden;
	transform: translate(100%, 200%);
	transition: all 0.8s ease;

}

@media (max-width:768px){
	.slider-rooms__content {
		bottom: 50px;
	}
}

.slider-rooms__content::before{
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	transform: translate(100%, 0);
	width: 48px;
	height: 48px;
	background: url(../img/icons/arrowpreview.png)center /cover no-repeat;
	background-color: orange;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slide-active .slider-rooms__content{
	opacity: 1;
	visibility: visible;
	transform: translate(0px, 0%);
}


.lable-slider {
	display: grid;
	grid-template-columns: auto 27px auto;
	align-items: center;
	justify-content: center;
	gap: 8px;
	color: #000;
}
.lable:not(:last-child){
	margin: 0 0 8px 0;
}
.lable-slider__nomber {
}
.lable-slider__line {
	height: 1px;
	background-color: #000;
}
.lable-slider__text {
}
.slider-rooms__title {
	font-weight: 600;
	font-size: 28px;
}
.slider-rooms__arrows {
	pointer-events: none;
	display: flex;
	position: absolute;
	top: 50%;
	transform: translate(0px, -50%);
	width:calc(100% + 65px);
	left: -40px;
	z-index: 5;
	justify-content: space-between;
}

@media (max-width:1260px){
	.slider-rooms__arrows{
		width:90%;
		left: 40px;
	}
}


@media (max-width:991.98px){
	.slider-rooms__arrows{
		width:95%;
		left: 25px;
	}
}

@media (max-width:768px){
	.slider-rooms__arrows {
		width:92%;
	}
}



@media (max-width:580px){
	.slider-rooms__arrows{
		width:90%;
		left: 25px;
	}
}


@media (max-width:400px){
	.slider-rooms__arrows{
		width:85%;
		left: 20px;
	}
}
.slider-rooms__arrows img{
	width: 100%;
}

.slider-arrows {
}
.slider-arrows_prev,
.slider-arrows_next {
	pointer-events: auto;
	width: 75px;
	height:75px;
	border-radius: 50%;
	background-color: orange;
	box-shadow: 2px 3px 4px 3px #000;
	transition: all 200ms ease;
}


@media (max-width:1260px){
	.slider-arrows_next{
		width: 65px;
		height:65px;
	}
}
@media (max-width:991.98px){
	.slider-arrows_next{
		width: 50px;
		height:50px;
	}
}


@media (max-width:1260px){
	.slider-arrows_prev{
		width: 65px;
		height:65px;
	}
}

@media (max-width:991.98px){
	.slider-arrows_prev{
		width: 50px;
		height:50px;
	}
}

.slider-arrows_prev:active{
	box-shadow: 1px 2px 2px 2px #fff;
	transform: scale(0.9);
}

.slider-arrows_next:active {
	box-shadow: 1px 2px 2px 2px #fff;
	transform: scale(0.9);
}

.slider-arrows_prev img {
	transform: rotate(180deg);
}


.swiper-pagination-bullets{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.swiper-pagination-bullet{
cursor: pointer;
flex:  0 0 11px;
min-height: 11px;
position: relative;
display: flex;
justify-content: center;
align-items: center;
margin: 2px 0;
}
.swiper-pagination-bullet:not(:last-child){
	margin-right: 12px;
}


.swiper-pagination-bullet::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border: 4px solid orange;
	transition: transform 0.3s ease 0s;
	transform: scale(0);

}


.swiper-pagination-bullet-active{
	min-height: 20px;
	min-width: 20px;
	
}



.swiper-pagination-bullet-active::after{
	color: orange;
}

.swiper-pagination-bullet-active::before{
	transform: scale(1);
}


/*--------------------------- artikle*/

.artikle{
	padding: 50px 0;
	background-color: rgba(255, 166, 0, 0.2);
}

@media (max-width:768.98px){
	.artikle{
		padding: 30px 0;
	}
}

.artikle__container{
	overflow: hidden;
}


.artikle__title{
	text-align: center;
	font-weight: 700;
	line-height: 1.4;
	font-size: 35px;
	padding: 20px 5px;
	margin-bottom: 20px;
}

@media (max-width:768.98px){
	.artikle__title{
		font-size: 25px;
		padding: 10px 5px;
	}
}



.artikle__row{
	display: flex;
	justify-content: center;
	gap: 30px;
	flex-wrap: wrap;
}


@media (max-width:991.98px){
	.artikle__row{
		gap: 20px;
	}
}



.artikle__items{
	overflow: hidden;
	flex: 1 1 30%;
}


@media (max-width:991.98px){
	.artikle__items{
		flex: 1 1 50%;
	}
}


.artikle__img{
	position: relative;
	padding-bottom: 400px;
	transition: all 300ms ease 0s;
}

.artikle__img:hover{
	transform: scale(1.2);
}

.artikle__img img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.artikle__content{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	transform: translate(-100%, 0);
	opacity: 0;
	visibility: hidden;
	transition: all 300ms ease 0s;
}

.artikle__link{
	z-index: 10;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	width: 100%;
	height: 100%;
	pointer-events: visible;
}


.artikle__sub-title{
	font-weight: 700;
	font-size: 20px;
	color: #fcf8f3;
	line-height: 1.3;
	letter-spacing: 3px;
}
@media (max-width:768.98px){
	.artikle__sub-title{
		font-size: 18px;
		letter-spacing: normal;
		padding-bottom: 5px;
	}
}


.artikle__text{
	line-height: 1.3;
	color: #fff;
}

.artikle__items:hover .artikle__content{
	opacity: 1;
	visibility: visible;
	transform: translate(0%, 0);
}

